<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
       {{>header}}
       <p>This site was created by Eric Kasten.  It uses data from mapbox.com and darksky.net.  This was created with a nodejs udemy course.</p>
        <img class="aboutImg" alt="storm trooper image" src="/img/StormTrooper.jpg">
    </div>

    {{>footer}}
</body>

</html>